.staking_main {
    display: flex;
    justify-content: center;
    height: 120px;
    margin-top: 50px;
}

.staking_left {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.staking_right {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

/* .content {
    text-align: center;
} */

.staking_content {
    margin: 0 auto;
    height: 300px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.tokens {
    text-align: left;
}

.stake_input {
    margin-top: 10px;
}

.stake_button {
    margin-top: 20px;
}

.stake_unstake {
    margin-top: 25px;
}